.fcolor-l5 {color: #000000 !important; background-color: #f5f7f8 !important;}
.fcolor-l4 {color: #000000 !important; background-color: #dfe5e8 !important;}
.fcolor-l3 {color: #000000 !important; background-color: #becbd2 !important;}
.fcolor-l2 {color: #000000 !important; background-color: #9eb1bb !important;}
.fcolor-l1 {color: #ffffff !important; background-color: #7d97a5 !important;}
.fcolor-d1 {color: #8d8d8d !important; background-color: #3f8dbb !important;}
.fcolor-d2 {color: #000000 !important; background-color: #000000 !important;}
.fcolor-d3 {color: #8d8d8d !important; background-color: #000000 !important;}
.fcolor-d4 {color: #797979 !important; background-color: #000000 !important;}
.fcolor-d5 {color: #665b5b !important; background-color: #000000 !important;}
.fcolor-suave {color: #03af0c !important; background-color: #01d66c !important;}
.fcolor-oscuro {color: #fff !important; background-color: #018a2f !important;}
.fcolor-accion {color: #fff !important; background-color: #0ac031 !important;}
.ftema {color: #fff !important; background-color: #000000 !important;}
.f-color-texto {color: #03a842 !important;}
.f-color-borde {border-color: #0ba83a !important;}
.f-color-hover:hover {color: #fff !important; background-color: #000000 !important;}
.f-color-text-hover:hover {color: #0ca125 !important;}
.f-color-border-hover:hover {border-color: #000000 !important;}